<aside class="app-sidebar">
      <div class="app-sidebar__user">
      <img class="app-sidebar__user-avatar" src="https://s3.amazonaws.com/uifaces/faces/twitter/jsa/48.jpg" 
      alt="User Image">
        <div>
          <p class="app-sidebar__user-name">{$Request.session.clubadmin_name}</p>
          <p class="app-sidebar__user-designation">俱乐部管理员</p>
        </div>
      </div>
      <ul class="app-menu">
        <li><a class="app-menu__item" href="{:url('index/index')}"><i class="app-menu__icon fa fa-university"></i><span class="app-menu__label">主页</span></a></li>
        <li><a class="app-menu__item" href="{:url('club/lst')}"><i class="app-menu__icon fa fa-list"></i><span class="app-menu__label">管理俱乐部信息</span></a></li>
        <li><a class="app-menu__item" href="{:url('vip/vip')}"><i class="app-menu__icon fa fa-users"></i><span class="app-menu__label">管理俱乐部【会员】</span></a></li>
        <li><a class="app-menu__item" href="{:url('course/lst')}"><i class="app-menu__icon fa fa-edit"></i><span class="app-menu__label">管理俱乐部【课程】</span></a></li>
        <li><a class="app-menu__item" href="{:url('train/lst')}"><i class="app-menu__icon fa fa-circle-o"></i><span class="app-menu__label">管理俱乐部【训练】</span></a></li>
        <li><a class="app-menu__item" href="{:url('coach/lst')}"><i class="app-menu__icon fa fa-futbol-o"></i><span class="app-menu__label">管理俱乐部【教练】</span></a></li>
        <li><a class="app-menu__item" href="{:url('video/lst')}"><i class="app-menu__icon fa fa-caret-square-o-down"></i><span class="app-menu__label">管理视频</span></a></li> 
      </ul>
    </aside>